<h1>Listing Hearings For Case Number  <%=@casefile.CaseNumber %></h1>

<table id= "data" class = "display">
  <tr>
    <th>Date of Hearing</th>
    <th>Judge</th>
    <th>Court</th>
    <th>Remarks</th>
    <th></th>
    <th></th>

  </tr>

<% @hearings.each do |hearing| %>
  <tr>
    <td><%= hearing.dateofhearing %></td>
    <td><%= hearing.judge %></td>
    <td><%= hearing.court %></td>
    <td><%= hearing.Remarks %></td>
    <td><%= link_to 'Show', [hearing.casefile, hearing] %></td>
    <td><%= link_to 'Edit', edit_casefile_hearing_path(hearing.casefile, hearing) %></td>
 
  </tr>
<% end %>
</table>

<br />
<div id= "links" >
<%= link_to 'New Hearing', new_casefile_hearing_path(params[:casefile_id]) %>
</div>